<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- SQLite Database Connection -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:smartlibrary.db</property>
        <property name="hibernate.dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>
        
        <!-- Connection Pool -->
        <property name="hibernate.connection.pool_size">1</property>
        
        <!-- SQL Settings -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <!-- Auto Schema Generation -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- Current Session Context -->
        <property name="hibernate.current_session_context_class">thread</property>
        
        <!-- Entity Mappings -->
        <mapping class="entity.Book"/>
        <mapping class="entity.Student"/>
        <mapping class="entity.Loan"/>
    </session-factory>
</hibernate-configuration>
